@layer components {
  .header-text {
    font-size: 16px;
    font-family: var(--font-academy);
  }
  .main-text {
    font-size: 40px;
    font-family: var(--font-academy);
  }
  .view-all-text {
    font-size: 16px;
    font-family: var(--font-academy);
  }
  .date-text {
    font-size: 10px;
  }
  .contents-title {
    font-size: 14px;
  }
  .month-card-text {
    font-size: 24px;
    color: white;
  }
  .month-card-text {
    font-size: 24px;
    color: white;
  }
  .day-card-text {
    font-size: 32px;
    color: white;
  }
  .week-card-text {
    font-size: 12px;
    color: white;
  }
  .calendar-card-title {
    font-size: 16px;
  }
  .link-title {
    font-size: 14px;
  }
}
