@layer components {
  .header-text {
    @apply text-sm md:text-base;
    font-family: var(--font-academy);
  }
  .main-text {
    @apply text-2xl md:text-3xl lg:text-4xl;
    font-family: var(--font-academy);
  }
  .view-all-text {
    @apply text-xs md:text-sm;
    font-family: var(--font-academy);
  }
  .date-text {
    @apply text-[10px] md:text-xs;
  }
  .contents-title {
    @apply text-sm md:text-base;
  }
  .month-card-text {
    font-size: 24px;
    color: white;
  }
  .day-card-text {
    font-size: 32px;
    color: white;
  }
  .week-card-text {
    font-size: 12px;
    color: white;
  }
  .calendar-card-title {
    @apply text-sm md:text-base;
  }
  .link-title {
    @apply text-xs md:text-sm;
  }
}
